In [1]:
import pandas as pd
import boto3
import json
import logging
from botocore.exceptions import ClientError

In [25]:
# Config file has all the parameters required for 
# 1. Setup IAM Role
# 2. Launch REDSHIFT Cluster, 
# 3. Open TCP port to access REDSHIFT Cluster

import configparser
config = configparser.ConfigParser()
config.read_file(open('create_cluster.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("CLUSTER","CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("CLUSTER","NUM_NODES")
DWH_NODE_TYPE          = config.get("CLUSTER","NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("CLUSTER","CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

DWH_IAM_ROLE_NAME      = config.get("IAM_ROLE", "ARN")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param         Value
0  DWH_CLUSTER_TYPE        multi-node
1  DWH_NUM_NODES           4
2  DWH_NODE_TYPE           dc2.large
3  DWH_CLUSTER_IDENTIFIER
4  DWH_DB
5  DWH_DB_USER
6  DWH_DB_PASSWORD
7  DWH_PORT                5439
8  DWH_IAM_ROLE_NAME       redshiftRole

In [3]:
# Create Client for IAM and REDSHIFT

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )
redshift = boto3.client('redshift',
                           region_name="us-west-2",
                           aws_access_key_id=KEY,
                           aws_secret_access_key=SECRET
                       )

In [4]:
#1.1 Create an IAM role to access S3 Bucket (Read Only)

try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name redshiftRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::356287251310:role/redshiftRole

In [5]:
# Creating REDHIFT Cluster

try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [6]:
# Function to describe the cluster and see its status

def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

In [8]:
# Describe the cluster and check the status

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,redshiftuser
4,DBName,redshift-db
5,Endpoint,"{'Address': 'dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-5467fd2c
7,NumberOfNodes,4

In [26]:
# This give the ENDPOINT (Host information) and the ARN information, both needs to be updated in the dwh.cfg
# to connect to REDSHIFT cluster, create tables and copy data.

DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::356287251310:role/redshiftRole

In [10]:
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

In [11]:
# Open a TCP port to access Redshift cluster endpoint
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-d113358b')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [12]:
# Use SQL Magic extension to connect to the database and check t
%load_ext sql

In [1]:
####################### IMPORTANT ############################

# Run this after creating and loading the tables

# Connect to the Redshift cluster

conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

NameError: name 'DWH_DB_USER' is not defined

In [14]:
# Query to check staging events tables

%sql select * from staging_events limit 5;

 * postgresql://redshiftuser:***@dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com:5439/redshift-db
5 rows affected.

[('Two Door Cinema Club', 'Logged In', 'Aleena', 'F', 7, 'Kirby', Decimal('189'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, 'What You Know', '200', '1541382653796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('At The Drive-In', 'Logged In', 'Aleena', 'F', 10, 'Kirby', Decimal('207'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, 'Sleepwalk Capsules', '200', '1541383311796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ("Old 97's", 'Logged In', 'Aleena', 'F', 13, 'Kirby', Decimal('231'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, 'Victoria (LP Version)', '200', '1541384284796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Cyndi Lauper', 'Logged In', 'Aleena', 'F', 14, 'Kirby', Decimal('226'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, 'True Colors', '200', '1541384515796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('John Mayer', 'Logged In', 'Aleena', 'F', 18, 'Kirby', Decimal('269'), 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', Decimal('1541022995796'), 237, 'Heartbreak Warfare', '200', '1541385481796', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44)]

In [15]:
# Query to check staging songs tables

%sql select * from staging_songs limit 5;

 * postgresql://redshiftuser:***@dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com:5439/redshift-db
5 rows affected.

[('ARLRWBW1242077EB29', None, '', None, 'Mikhail Pletnev', Decimal('221'), 1, 'SOYVBGZ12A6D4F92A8', "Piano Sonata No. 21 in C 'Waldstein' Op. 53: II.    Introduzione (Adagio molto)", 0),
 ('ARAPAHR1187B9909ED', Decimal('35'), 'Oklahoma', Decimal('-98'), 'Still Breathing', Decimal('158'), 1, 'SOWUBGP12A58A7C636', 'Trusted Crown', 0),
 ('AR7H9U01187FB390F5', None, 'New Orleans, LA', None, 'Terence Blanchard', Decimal('350'), 1, 'SOBJLBQ12A8C13F883', 'Funeral Dirge', 2007),
 ('ARUPWVD1187FB4DA36', None, '', None, 'Badly Drawn Boy', Decimal('168'), 1, 'SODGPPX12A8C133C55', 'Tickets To What You Need', 2002),
 ('ARB9UTT1187B9B6D72', None, '', None, 'Stereophonic Space Sound Unlimited', Decimal('150'), 1, 'SOMGHIZ12A58A7D35B', 'Harlem Nightdrive', 0)]

In [16]:
# Query to check songplays tables

%sql select * from songplays limit 5;

 * postgresql://redshiftuser:***@dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com:5439/redshift-db
5 rows affected.

[(337, datetime.datetime(2018, 11, 24, 5, 13, 28, 796000), 88, 'paid', 'SOGPESA12AB0180D65', 'AR1K7TQ11C8A414EC8', 888, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (117, datetime.datetime(2018, 11, 13, 16, 45, 3, 796000), 97, 'paid', 'SOHZDYL12A8C141C73', 'AR32RXI1187B9BA168', 537, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (34, datetime.datetime(2018, 11, 5, 14, 43, 54, 796000), 44, 'paid', 'SOZARNI12A67020744', 'AR3WLE91187B99430A', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (157, datetime.datetime(2018, 11, 6, 20, 59, 2, 796000), 97, 'paid', 'SOSCHDW12A8C130FD7', 'AR40GSU1187FB3AA01', 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (192, datetime.datetime(2018, 11, 21, 21, 56, 47, 796000), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [17]:
# Query to check users tables

%sql select * from users limit 5;

 * postgresql://redshiftuser:***@dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com:5439/redshift-db
5 rows affected.

[(11, 'Christian', 'Porter', 'F', 'free'),
 (14, 'Theodore', 'Harris', 'M', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free'),
 (34, 'Evelin', 'Ayala', 'F', 'free'),
 (48, 'Marina', 'Sutton', 'F', 'free')]

In [18]:
# Query to check songs tables

%sql select * from songs limit 5;

 * postgresql://redshiftuser:***@dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com:5439/redshift-db
5 rows affected.

[('SOIBMQP12AB017FF20', 'Espejismos Y Visiones', 'AR00FVC1187FB5BE3E', 0, Decimal('194')),
 ('SOLPTCL12AB0181839', 'Lascivamente', 'AR00FVC1187FB5BE3E', 0, Decimal('207')),
 ('SOSIUCT12AB0182323', 'Conversación Casual', 'AR00FVC1187FB5BE3E', 0, Decimal('225')),
 ('SODJRJR12A8C13FD5A', 'N.Y. Streetz', 'AR00JIO1187B9A5A15', 2004, Decimal('256')),
 ('SOZWEMJ12AB01803FB', 'Long Way From Home', 'AR00TGQ1187B994F29', 2007, Decimal('130'))]

In [19]:
# Query to check artists tables

%sql select * from artists limit 5;

 * postgresql://redshiftuser:***@dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com:5439/redshift-db
5 rows affected.

[('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', Decimal('40'), Decimal('-73')),
 ('AR00TGQ1187B994F29', 'Paula Toller', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR026BB1187B994DC3', 'Ijahman Levi', '', None, None)]

In [20]:
# Query to check time tables

%sql select * from time limit 5;

 * postgresql://redshiftuser:***@dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com:5439/redshift-db
5 rows affected.

[(datetime.datetime(2018, 11, 5, 12, 41, 10, 796000), 12, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 14, 20, 38, 796000), 14, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 15, 6, 9, 796000), 15, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 9, 2, 9, 19, 796000), 2, 9, 45, 11, 2018, 5),
 (datetime.datetime(2018, 11, 9, 11, 52, 55, 796000), 11, 9, 45, 11, 2018, 5)]

In [21]:
# Query to check in case of any errors while loading into the tables.

%sql select * from STL_LOADERROR_DETAIL

 * postgresql://redshiftuser:***@dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com:5439/redshift-db
0 rows affected.

[]

In [22]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'redshiftuser',
  'DBName': 'redshift-db',
  'Endpoint': {'Address': 'dwhcluster.cmizces1mjyo.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2020, 4, 14, 19, 2, 12, 642000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-d113358b',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-5467fd2c',
  'AvailabilityZone': 'us-west-2c',
  'PreferredMaintenanceWindow': 'wed:13:30-wed:14:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::356287251310:role/redshiftRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '3070cb33-7e85-11ea-87fe-47c8b156cbab',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '3070cb33-7e85-11ea-87fe-47c8b156cbab',
   'content-type': 'text/xml',
   'content-length': '2400',
   'vary': 'Accept-Encoding',
   'date': 'Tue, 14 Apr 2020 19:21:48 GMT'},
  'RetryAttempts': 0}}

In [23]:
# Describe the cluster and check the status

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.

In [24]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

DeleteConflictException: An error occurred (DeleteConflict) when calling the DeleteRole operation: Cannot delete entity, must detach all policies first.